<footer class="footer py-4 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img class="wh-300" src="../../assets/logo-03.png" alt="" />
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-8 col-sm-6 text-light">Copyright &copy; Educamus 2022</div>
          <div class="col-4 col-sm-6">
            <a class="link-light text-decoration-none me-3 text-end" href="#!"
              >Privacy Policy</a
            >
            <a class="link-light text-decoration-none text-end" href="#!"
              >Terms of Use</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
