<footer class="footer py-4 bg-dark">
  <div class="container" style="margin: 0">
    <div class="row">
      <div class="col-md-8">
        <img class="wh-300" src="../../assets/logo-03.png" alt="" /><br>
        <img class="wh-edu" src="../../assets/logo-02.png" alt="" />
      </div>
    </div>
    <hr class="">
    <div class="container">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 text-light">
              Copyright &copy; Educamus 2022
            </div>
            <div class="col-sm-6">
              <a class="link-light text-decoration-none me-3" href="#!">
                Privacy Policy
              </a>
              <a class="link-light text-decoration-none" href="#!">
                Terms of Use
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
</footer>
