<app-menu></app-menu>
<main class=" p-3 mt-4 d-flex justify-content-start align-items-center flex-column text-light">
    <div class="title mt-3">
        <h2 class="mt-5 mb-2">Perfil de Nome prof</h2>
        <div class="title__links">
            <a routerLink="/perfilProf" class="me-3 text-secondary">Perfil Configurações</a>
            <a routerLink="/materiasEdit">Matérias Configurações</a>
        </div>
    </div>
    <div class="configBlock mt-2">
        <div class="d-flex mb-3 mt-1 flex-column justify-content-start form-group">
            <label for="name mb-4">Adicionar matéria</label>
            <input [(ngModel)]='tema.descricao' type="text" name="nome" placeholder="nome">
        </div>


        <button type="submit" class="btn btn-success mb-4" (click)="cadastrar()">Salvar</button>

        <h4 class="mt-4 mb-3">Matérias ativas</h4>


        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col" class="text-center">Nome</th>
                    <th scope="col" class="text-center">Modificações</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor='let materia of listaTemas'>
                    <th>{{materia.id}}</th>
                    <td>{{materia.descricao}}</td>
                    <td class="d-flex justify-content-end">
                        <button class="btn btn-info mr-3">Editar</button>
                        <button class="btn btn-danger">Apagar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</main>
