<app-menu></app-menu>
<main class=" p-3 mt-4 d-flex justify-content-start align-items-center flex-column text-light">
    <div class="title mt-3">
        <h2 class="mt-5 mb-2">Olá, deseja editar o perfil ou máterias?</h2>
        <div class="title__links">
            <a routerLink="/perfilProf" class="me-3">Perfil Configurações</a>
            <a routerLink="/materiasEdit" class="text-secondary">Matérias Configurações</a>
        </div>
    </div>
    <div class="configBlock  mt-2">
        <div class="avatar">
            <img src="{{foto}}" alt="image user" />
            <div class="avatar__details">
                <h5 class="ms-3">{{nome}}</h5>
                <h6 class="ms-3">Professor(a/e)</h6>
            </div>
        </div>

        <div class="d-flex mb-3 mt-1 flex-column justify-content-start form-group">
            <label for="name mb-2">Nome</label>
            <input [ngModel]="user.nome" type="text" name="nome" id="nome" placeholder="nome">
        </div>

        <div class="d-flex mb-3 mt-1 flex-column justify-content-start form-group">
            <label for="Username mb-2">Username</label>
            <input [ngModel]="user.usuario" type="text" name="Username" id="Username" placeholder="Username">
        </div>

        <div class="d-flex mb-3 mt-1 flex-column justify-content-start form-group">
            <label for="foto mb-2">Alterar foto</label>
            <input [(ngModel)]="user.foto" type="text" name="foto" id="foto" placeholder="Link da nova foto">
        </div>

        <div class="d-flex mb-3 mt-1 flex-column justify-content-start form-group">
            <label for="Senha mb-2">Senha</label>
            <input [(ngModel)]="user.senha" type="password" name="Senha" id="Senha" placeholder="Senha">
        </div>

        <div class="d-flex mb-3 mt-1 flex-column justify-content-start form-group">
            <label for="ConfirmarSenha mb-2">Confirmar Senha</label>
            <input (input)="confirmSenha($event)" type="password" name="ConfirmarSenha" id="ConfirmarSenha" placeholder="Confirmar Senha">
        </div>

        <div class="d-flex mb-3 mt-1 flex-column justify-content-start form-group">
            <label for="tipo mb-2">Tipo de Usuário</label>
            <select class="d-flex mb-3 mt-1 flex-column justify-content-start form-group" (change)='tipoAdmNormal($event)'>
                <option>Selecione um tipo de usuário:</option>
                <option value="normal">Normal</option>
                <option value="adm">Administrador</option>
            </select>
        </div>

        <!-- Implementações futuras -->
        <!--<div class="d-flex mb-3 mt-1 flex-column justify-content-start form-group">
            <label for="name mb-2">Telefone</label>
            <input type="text" name="nome" id="nome" placeholder="(11) 99184-6381">
        </div>

        <div class="form-group mb-3 mt-1">
            <label for="tipo mb-2">Selecione seu gênero</label>
            <select class="form-control mb-2" name="genero" id="tipo mt-2">
                <option class="text-dark">Selecione seu gênero:</option>
                <option class="text-dark" value="tbmnumsei">Numsei</option>
                <option class="text-dark" value="numsei">esqeuci</option>
            </select>
        </div>

        <div class="d-flex mb-3 mt-1 flex-column justify-content-start form-group">
            <label for="name mb-2">Idade</label>
            <input type="text" name="idade" id="idade" placeholder="25">
        </div>-->

        <div class="d-flex justify-content-center my-2">
            <button type="submit" class="btn btn-danger me-4"
            routerLink="/feed">Cancelar</button>
            <button type="submit" class="btn btn-success" (click)="atualizar()">Salvar</button>
       </div>
    </div>

</main>