<app-menu></app-menu>
<main class=" p-3 mt-4 d-flex justify-content-start align-items-center flex-column text-light">
    <div class="title mt-3">
        <h2 class="mt-5 mb-2">Perfil de Nome prof</h2>
        <div class="title__links">
            <a routerLink="/perfilProf" class="me-3">Perfil Configurações</a>
            <a routerLink="/materiasEdit" class="text-secondary">Matérias Configurações</a>
        </div>
    </div>
    <div class="configBlock  mt-2">
        <div class="avatar">
            <img src="{{foto}}" alt="image user" />
            <div class="avatar__details">
                <h5 class="ms-3">{{nome}}</h5>
                <h6 class="ms-3">Professor(a/e)</h6>
            </div>
        </div>

        <div class="d-flex mb-3 mt-1 flex-column justify-content-start form-group">
            <label for="name mb-2">Nome</label>
            <input type="text" name="nome" id="nome" placeholder="nome">
        </div>

        <div class="d-flex mb-3 mt-1 flex-column justify-content-start form-group">
            <label for="Username mb-2">Username</label>
            <input type="text" name="Username" id="Username" placeholder="Username">
        </div>
        <div class="d-flex mb-3 mt-1 flex-column justify-content-start form-group">
            <label for="name mb-2">Telefone</label>
            <input type="text" name="nome" id="nome" placeholder="(11) 99184-6381">
        </div>

        <div class="form-group mb-3 mt-1">
            <label for="tipo mb-2">Selecione seu gênero</label>
            <select class="form-control mb-2" name="genero" id="tipo mt-2">
                <option class="text-dark">Selecione seu gênero:</option>
                <option class="text-dark" value="tbmnumsei">Numsei</option>
                <option class="text-dark" value="numsei">esqeuci</option>
            </select>
        </div>

        <div class="d-flex mb-3 mt-1 flex-column justify-content-start form-group">
            <label for="name mb-2">Idade</label>
            <input type="text" name="idade" id="idade" placeholder="25">
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
    </div>

</main>