<app-menu></app-menu>

<main class="p-5 mt-5">
    <h4 class="text-light text-center">Profs que querem você</h4>
    <div class="col mb-3 d-flex justify-content-center">
        <div class=" card h-100">

            <div class="card-body">
                <div class="card-navbar">
                    <div class="d-flex align-items-center text-light">
                        <img src="../../assets/img/augusto.png" alt="image user" />
                        <h4 class="ms-3">Augusto</h4>
                    </div>
                    <svg class="close" width="18" height="17" viewBox="0 0 18 17" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6.87881 8.49995L0.439453 14.7247L2.56077 16.7753L9.00013 10.5506L15.4395 16.7753L17.5608 14.7247L11.1215 8.49995L17.5608 2.27528L15.4395 0.22467L9.00013 6.44935L2.56082 0.22467L0.439496 2.27528L6.87881 8.49995Z"
                            fill="white" />
                    </svg>

                </div>
                <h5 class="card-title text-light mt-3">Olá Alune</h5>
                <p class="card-text text-light">Me chamo augusto tenho 19 anos e sou professor de matématica e biologia
                    , adoraria te ensinar, meu contato 1199999999.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-light">últimos 3 minutos</small>
            </div>
        </div>
    </div>

    <div class="col mb-3 d-flex justify-content-center">
        <div class=" card h-100">

            <div class="card-body">
                <div class="card-navbar">
                    <div class="d-flex align-items-center text-light">
                        <img src="../../assets/img/giovana.png" alt="image user" />
                        <h4 class="ms-3">Giovana</h4>
                    </div>
                    <svg class="close" width="18" height="17" viewBox="0 0 18 17" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M6.87881 8.49995L0.439453 14.7247L2.56077 16.7753L9.00013 10.5506L15.4395 16.7753L17.5608 14.7247L11.1215 8.49995L17.5608 2.27528L15.4395 0.22467L9.00013 6.44935L2.56082 0.22467L0.439496 2.27528L6.87881 8.49995Z"
                            fill="white" />
                    </svg>

                </div>
                <h5 class="card-title text-light mt-3">Olá Alune</h5>
                <p class="card-text text-light">Me chamo giovana tenho 25 anos e sou professora de matématica e biologia
                    , adoraria te ensinar, meu contato 119999999.</p>
            </div>
            <div class="card-footer">
                <small class="text-light">últimos 5 minutos</small>
            </div>
        </div>
    </div>

</main>


<app-rodape></app-rodape>