<app-menu></app-menu>
<app-menu></app-menu>


<main>
    <div class="row mb-5">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">apagar Postagem</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <h4 class="text-center text-secondary">
                Você tem certeza que deseja apagar essa postagem ?,
                Não será possível recuperá-lo mais tarde.
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center text-info">Postagem descrição: {{postagem.texto}}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mt-3">
            <button class="btn btn-danger me-1" routerLink="/feed">Não</button>
            <button class="btn btn-success" (click)='apagar()'>Sim</button>
        </div>
    </div>
</main>