main {
  background-color: #262626;
  color: white;
  min-height: 50vh;
  width: 100%;
}

.profile {
  background-color: #303030;

  max-width: 50%;
  border-radius: 4px;
}

.information {
  background-color: transparent;
  position: fixed;

  height: 60%;
  margin-left: 53%;
}

.img-thumbnail {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #303030;
  border: none;
}

.tag {
  background-color: #feb201;
  border-radius: 4px;
}

.modal-content {
  background-color: #262626;
  color: white;
}
textarea {
  background: rgba(158, 158, 158, 0.25);
  border-radius: 5px;
  color: white;
  min-height: 6rem;
  padding: 0 2rem;

  outline: none;
}

input {
  outline: none;
  background: rgba(158, 158, 158, 0.25);
  border-radius: 5px;
  color: white;
  padding: 0 0.3rem;
}
