html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

main {
  font-family: "Poppins", sans-serif;
}

header {
  font-family: "Poppins", sans-serif;
}

.btn {
  background-color: #fec802;
  padding: 0.5rem;
  width: 130px;
  border-radius: 11px;
  color: white;

  transition: 0.5s;
  opacity: 0.7;
}

.btn:hover {
  opacity: 1;
}

main .first {
  background-color: #262626;
  min-height: 95vh;
}

span {
  color: #feb201;
}

.txt {
  font-style: italic;
  font-weight: 400;
}

.second {
  background-color: #303030;
}
.link {
  color: red;
}

.link a:hover {
  color: #feb201;
  transition: 0.5s;
}

footer {
  background-color: #303030;
  padding-bottom: 0.1rem;
}

.icon {
  transition: 0.5s;
  opacity: 0.5;
}
.icon:hover {
  transition: 0.5s;
  opacity: 1;
}

.img_values {
  width: 750px;
  height: 550px;
  border-radius: 20px;
}

.img-thumbnail {
  background-color: #303030;
  height: 50%;
  width: 50%;
  border: none;
}

main .third {
  background-color: #262626;
  min-height: 5rem;
}
