a{
    text-decoration: none;
}

main{
    font-family: "Poppins",sans-serif;
}

header{
    font-family: "Poppins",sans-serif;
}

.btn{
    background-color: #FEC802;
    padding:0.5rem;
    width:130px;
    border-radius:11px;
    color: white;

    transition: 0.5s;
    opacity: 0.7;
}

.btn:hover{
    opacity: 1;
}

main .first{
    background-color: #262626;
    min-height:95vh;
}

main .third{
    background-color: #262626;
}

span{
    color : #FEB201;
}

.txt{
    font-style: italic;
    font-weight: 400;
}

.second{
    background-color: #303030;
}
.link{
    color:red;
}

.link a:hover{
    color : #FEB201;
    transition: 0.5s;
}

footer{
    background-color: #303030;
    padding-bottom:0.1rem;
}

.icon{
    transition: 0.5s;
    border-bottom:#303030 2px solid;
}
.icon:hover{
    transition: 0.5s;
    border-bottom:2px solid white;
}